@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  background: #000000;
  text-align: center;
  font-family: montserrat, sans-serif;
}

h3 {
  color: #ffffff;
  font-family: montserrat, sans-serif;
}

h1 {
  color: #ffffff;
  font-family: montserrat, sans-serif;
}
  
* {
  text-decoration: none;
}

h6 {
  color: #ffffff
  font-family: montserrat, sans-serif;
}
